<div class="col-md-12 res">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="col-md-4 res-logo"><div><img src="{{ asset('img/facebook.png') }}" class="logo-res"></div></div>
		<div class="col-md-4 res-logo"><div><img src="{{ asset('img/twitter.png') }}" class="logo-res"></div></div>
		<div class="col-md-4 res-logo"><div><img src="{{ asset('img/googleplus.png') }}" class="logo-res"></div></div>
	</div>
	<div class="col-md-4"></div>
</div>